<footer class="blue text-white">
  <div class="flex flex-col">
    <div class="flex flex-row">
      <div class="flex flex-col p-4 mx-8 my-4">
        <a href="/"><h1 class="text-2xl underline">Home</h1></a>
        <a href="/serch">Find a car</a>
        <a href="/about">About us</a>
        <a href="/privacy">Privacy policy</a>
        <a href="/termsandconditions">Terms and conditions</a>
        <a href="/contact">Contact us</a>
      </div>
      <div class="flex flex-col p-4 mx-8 my-4">
        <a href="/dashboard"><h1 class="text-2xl underline">Account</h1></a>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/orders">Orders</a>
      </div>
      <div class="flex flex-col p-4 mx-8 my-4">
        <a href="/help"><h1 class="text-2xl underline">Help</h1></a>
        <a href="/support">Customer Support</a>
        <a href="/faqs">FAQ's</a>
        <a href="/ticket">Create a ticket</a>
      </div>
      <div class="grid grid-cols-4 gap-2 p-2 m-2 mr-5 ml-auto h-20">
        <a
          href=""
          class="fa-brands fa-linkedin text-white bg-blue-700 p-2 h-10 w-10 flex items-center justify-center rounded-xl"
        ></a>
        <a
          href=""
          class="fa-brands fa-youtube text-white bg-red-600 p-2 h-10 w-10 flex items-center justify-center rounded-xl"
        ></a>
        <a
          href=""
          class="fa-brands fa-instagram text-white bg-pink-500 p-2 h-10 w-10 flex items-center justify-center rounded-xl"
        ></a>
        <a
          href=""
          class="fa-brands fa-facebook text-white bg-blue-600 p-2 h-10 w-10 flex items-center justify-center rounded-xl"
        ></a>
        <a
          href=""
          class="fa-brands fa-x-twitter text-white bg-black p-2 h-10 w-10 flex items-center justify-center rounded-xl"
        ></a>
        <a
          href=""
          class="fa-brands fa-reddit text-white bg-orange-600 p-2 h-10 w-10 flex items-center justify-center rounded-xl"
        ></a>
        <a
          href=""
          class="fa-brands fa-tiktok text-white bg-black p-2 h-10 w-10 flex items-center justify-center rounded-xl"
        ></a>
      </div>
    </div>
    <div class="flex w-screen justify-center">&copy; 2024 Car Max</div>
  </div>
</footer>
