<div class="flex items-center justify-center">
  <div
    class="flex flex-col p-5 m-4 w-max rounded-lg items-center justify-center"
  >
    <h1 class="text-2xl">Login</h1>
    <div class="relative m-4">
      <input id="username" type="text" placeholder=" " class="input-login" />
      <span class="placholder-login bg-white rounded-md"> Username/email </span>
    </div>

    <div class="relative m-4">
      <input
        id="password"
        placeholder=" "
        type="password"
        class="input-login"
      />
      <span class="placholder-login bg-white rounded-md"> Password </span>
    </div>
    <button
      id="submit"
      class="m-2 p-2 rounded-lg bg-slate-500 hover:bg-slate-700"
    >
      login
    </button>
  </div>
</div>
<script src="login.js"></script>
